﻿@model Hotel.Web.Models.RoomTourViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .layer1 {
            position: relative;
            left: 50px; /* Относительное позиционирование */
            width: 900px; 
        }
        .layer2 {
            float: left;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Home.cshtml">Four seasons</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Log in/Log out</a></li>
                    <li><a href="#">Catalog</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                
                <ul class="nav nav-sidebar">
                    @foreach (var room in @Model.Products)
                    {
                        
                    }
                 </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Room tour</h1>
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail" src="room1.jpg" >
                        <h4></h4>
                        <span class="text-muted">ЧАРУЮЩИЙ ВИД</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail" src="room1.2.jpg">
                        <h4></h4>
                        <span class="text-muted">КОМФОРТ</span>
                       </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail" src="room1.3.jpg">
                        <h4></h4>
                        <span class="text-muted">ВПЕЧАТЛЕНИЯ</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail" src="room1.4.jpg" >
                        <h4></h4>
                        <span class="text-muted">РАЗВЛЕЧЕНИЯ</span>
                    </div>
                </div>
            <div class="layer1">
                <p>Из всех этих светлых и неповторимых по дизайну и комфорту номеров открывается чарующий вид на парк и окрестные сады. Номера Four Seasons идеальны для гостей, которые ищут сочетание вида прекрасных окрестностей и комфорта.</p>
                <div class="layer2">
                    <span class="text-muted">УСЛУГИ И УДОБСТВА</span>
                    <ul>
                        <li>Европейские глубокие ванны</li>
                        <li>Теплые махровые банные халаты</li>
                        <li>Фен и гигиенические средства</li>
                        <li>Уборка в номере дважды в день</li>
                    </ul>
                </div>
                <div class="layer2">
                    <span class="text-muted">УСЛУГИ И УДОБСТВА</span>
                    <ul>
                        <li>Европейские глубокие ванны</li>
                        <li>Теплые махровые банные халаты</li>
                        <li>Фен и гигиенические средства</li>
                        <li>Уборка в номере дважды в день</li>
                    </ul>
                </div>
                <input type="button" value="Book room" >
            </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/docs.min.js"></script>
</body>
</html>